<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NPJ7JGX');
      </script>
    <!-- End Google Tag Manager -->

    <!-- Google AdSense Script -->
      <script data-ad-client="ca-pub-5110558047674961" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- End Google AdSense Script -->

    <!-- META Tags -->
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="twitter:card" content="summary_large_image" />
      </meta>
      <meta property="og:image" content="https://i.postimg.cc/NGRwYBRm/Banner.jpg" />
      <meta property="og:url" content="https://tweepsbook.com" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="TweepBook - Capture. Organize. Learn." />
      <meta property="og:description" content="A better bookmarking tool for power Twitter users that you can use to filter, organize and bookmark tweets on your liking." />
    <!-- End META Tags -->

    <!-- Link Tags -->
      <link
        rel="shortcut icon"
        type="image/ico"
        href="/dashboard/images/favicon/TweepsBook.ico"
      />
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap"
        rel="stylesheet"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous"
      />
      <link rel="stylesheet" href="/dashboard/styles/style.css" />
    <!-- End Link Tags -->

    <title>Dashboard / TweepsBook</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPJ7JGX"
        height="0" width="0" style="display:none;visibility:hidden">
        </iframe>
      </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">
      <nav class="nav-bar">
        <div class="bars-box">
          <i class="bars fa fa-bars" aria-hidden="true"></i>
        </div>
        <a class="title" href="http://tweepsbook.com/dashboard">
          <img src="/dashboard/images/TweepsBook.png" alt="Logo" />
          <h2>Tweeps<span>Book</span></h2>
        </a>
        <div class="user">
          <div class="user-info">
            <img alt="User" src="<%= userImage %>"" />
            <p class="name"><%= userName %></p>
            <i class="arrow fa fa-angle-down" aria-hidden="true"></i>
          </div>
          <div class="user-menu">
            <a href="http://tweepsbook.com/dashboard/logout"
              ><i class="icon fa fa-sign-out" aria-hidden="true"></i>Logout</a
            >
          </div>
        </div>
      </nav>
      <main class="main-area">
        <aside class="aside-bar">
          <div class="cross-box">
            <i class="cross fa fa-times" aria-hidden="true"></i>
          </div>
          <h2 class="title">Tags</h2>
          <ul class="tags"></ul>
        </aside>
        <section class="section-area">
          <div class="initial-board visible">
            <p>Select a tag to view your bookmarks.</p>
          </div>
          <div class="board">
            <h2 class="title"></h2>
            <div class="bookmarks"></div>
          </div>
          <div class="load-board">
            <div class="loader"></div>
          </div>
        </section>
      </main>
      <footer class="footer-bar">
        <p class="notice">Copyright &copy; 2021, TweepsBook</p>
        <div class="icons">
          <a href="https://twitter.com/tweepsbookcom" class="icon-box"
            ><i class="icon fa fa-twitter" aria-hidden="true"></i
          ></a>
          <a href="https://linkedin.com/company/tweepsbookcom" class="icon-box"
            ><i class="icon fa fa-linkedin-square" aria-hidden="true"></i
          ></a>
          <a href="mailto:tweepsbook@gmail.com" class="icon-box">
            <i class="icon fa fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
    <script>
      const userObj = "<%= user %>";
      let user = userObj.replace(/&#34;/gi, '"');
      user = JSON.parse(user);
    </script>
    <!-- Masonry JS -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="/dashboard/scripts/script.js"></script>
  </body>
</html>