<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="twitter:card" content="summary_large_image" />
    </meta>
    <meta property="og:image" content="https://i.postimg.cc/NGRwYBRm/Banner.jpg" />
    <meta property="og:url" content="https:tweepsbook.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TweepBook - Capture. Organize. Learn." />
    <meta property="og:description" content="A better bookmarking tool for power Twitter users that you can use to filter, organize and bookmark tweets on your liking." />
    <link
      rel="icon"
      type="image/ico"
      href="/images/favicon/TweepsBook.ico"
    />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>TweepsBook</title>
  </head>
  <body>
    <nav class="nav-bar">
      <div class="container">
        <a class="title" href="#">
          <img src="/images/TweepsBook.png" alt="Logo" />
          <h2>Tweeps<span>Book</span></h2>
        </a>
      </div>
    </nav>
    <main class="main-area">
      <div class="container">
        <h1 class="title">
          One tool for your all <span>bookmarking</span> problems
        </h1>
        <p class="info">
          A better bookmarking tool for power Twitter users where you can
          <span>label</span>, <span>filter</span> and <span>organise</span> your
          tweets for future reference.
        </p>
        <p class="tag-line">Capture. Organise. Learn.</p>
        <a href="https://forms.gle/pshjQSjnyHAoKzTR7" target="_BLANK"><button class="btn" type="button">Join the waitlist</button></a>
        <i class="arrow fa fa-angle-double-down" aria-hidden="true"></i>
      </div>
    </main>
    <section class="section-area">
      <div class="container">
        <div class="top">
          <h1 class="title">What is Tweeps<span>Book</span>?</h1>
          <div class="content">
            <p class="info">
              TweepsBook is a bookmarking tool designed for Twitter users that
              helps them organize tweets in a better and more organized format.
              Unfortunatly, Twitter only allows you to bookmark a tweet without
              any sort of tags or categorization. That makes it difficult to
              organize the different types of bookmarked tweets. We are here to
              solve this problem. TweepsBook allows you to bookmark tweets and
              add different tags. Saving you time and efforts.
            </p>
            <img src="/images/bookmark.svg" alt="Bookmark" />
          </div>
        </div>
        <div class="bottom">
          <ul class="content">
            <li>
              You can use TweepsBook to bookmark any tweet. You just need to
              comment a certain keyword to save it in your Dashboard.
            </li>
            <li>
              From any tweet you want to bookmark, mention us with the keyword
              “bmk” followed by #CustomTag.
              <code>@tweepsbookapp bkm #CustomTag</code>
            </li>
            <li>We reply confirming that the Tweet has been bookmarked.</li>
          </ul>
        </div>
        <div class="video-block">
          <h1 class="title">How to use?</h1>
          <p class="info">
            Here is a short demonstration on how to use TweepsBook.
          </p>
          <img src="/images/Demo.gif" alt="Demonstration GIF" loading="lazy" />
        </div>
      </div>
    </section>
    <footer class="footer-bar">
      <div class="container">
        <div class="icons">
          <a href="https://twitter.com/tweepsbookapp" target="_BLANK" class="icon-box"
            ><i class="icon fa fa-twitter" aria-hidden="true"></i
          ></a>
          <a href="https://linkedin.com/company/tweepsbookapp" target="_BLANK" class="icon-box"
            ><i class="icon fa fa-linkedin-square" aria-hidden="true"></i
          ></a>
        </div>
        <a class="link" target="_BLANK" href="mailto:tweepsbook@gmail.com">Contact us</a>
      </div>
    </footer>
    <script src="/scripts/script.js"></script>
  </body>
</html>
