<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META & Google Tags -->
    <%- include("partials/scriptandmeta") %>
    <!-- End META & Google Tags -->

    <!-- META Tags -->
    <meta
      property="og:image"
      content="https://i.postimg.cc/NGRwYBRm/Banner.jpg"
    />
    <meta property="og:title" content="TweepsBook - Captue. Organize. Learn." />
    <meta
      property="og:description"
      content="Right set of tools can help you organize the chaotic Twitterverse. We make it easy to label, filter & organize your favorite tweets."
    />
    <!-- End META Tags -->

    <!-- Link Tags -->
    <link
      rel="icon"
      type="image/ico"
      href="/landingpage/images/favicon/TweepsBook.ico"
    />
    <link rel="manifest" href="/landingpage/images/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/landingpage/styles/style.css" />
    <!-- End Link Tags -->

    <title>TweepsBook - Capture. Organize. Learn.</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <%- include("partials/noscript") %>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="nav-bar">
      <div class="container">
        <a class="title" href="#">
          <img src="/landingpage/images/TweepsBook.png" alt="Logo" />
          <h2>Tweeps<span>Book</span></h2>
        </a>
      </div>
    </nav>
    <main class="main-area">
      <div class="container">
        <h1 class="title">
          One tool for all your <span>bookmarking</span> problems!
        </h1>
        <p class="info">
          Right set of tools can help you organize the chaotic Twitterverse. We
          make it easy to <span>label</span>, <span>filter</span> &
          <span>organize</span> your favorite tweets.
        </p>
        <p class="tag-line">Capture. Organize. Learn.</p>
        <a href="https://forms.gle/pshjQSjnyHAoKzTR7" target="_BLANK"
          ><button class="btn" type="button">Join the waitlist</button></a
        >
        <a
          href="https://www.producthunt.com/posts/tweepsbook-capture-organize-learn?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-tweepsbook-capture-organize-learn"
          target="_blank"
          class="ph"
          ><img
            src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=290169&theme=light"
            alt="TweepsBook - Capture. Organize. Learn. - Helping you organize your current chaotic Twitterverse. | Product Hunt"
            style="width: 250px; height: 54px"
            width="250"
            height="54"
        /></a>
        <i class="arrow fa fa-angle-double-down" aria-hidden="true"></i>
      </div>
    </main>
    <section class="section-area">
      <div class="container">
        <div class="top">
          <h1 class="title">What is Tweeps<span>Book</span>?</h1>
          <div class="content">
            <p class="info">
              It is indeed disappointing that Twitter does not allow for the
              categorization of the tweets you bookmark, wasting precious time
              finding a particular tweet you bookmarked a time ago. Introducing
              TweepsBook, an enhanced bookmarking tool for power Twitter users
              that helps you streamline the clutter by adding different tags and
              organize tweets based on your liking. With TweepsBook, your time
              is well spent learning rather than being wasted finding particular
              tweet.
            </p>
            <img src="/landingpage/images/bookmark.svg" alt="Bookmark" />
          </div>
        </div>
        <div class="bottom">
          <h1 class="title">How to use?</h1>
          <div class="tutorial">
            <ul class="content">
              <li>
                Follow
                <a href="http://twitter.com/tweepsbookcom" target="_BLANK"
                  >@tweepsbookcom</a
                >
                to mention us easily.
              </li>
              <li>
                Reply to a particular tweet you want to bookmark with a keyword
                "bkm" followed by a #CustomTag.
                <code>@tweepsbookcom bkm #CustomTag</code>
              </li>
              <li>
                We reply confirming that the tweet you requested has been saved
                in your dashboard.
              </li>
            </ul>
          </div>
          <p class="info">
            Here is a short demonstration on how to use TweepsBook.
          </p>
          <img
            src="/landingpage/images/Demo.gif"
            alt="Demonstration GIF"
            loading="lazy"
          />
        </div>
      </div>
    </section>
    <footer class="footer-bar">
      <p class="notice">
        &copy; 2021, TweepsBook.
        <a class="link" href="http://tweepsbook.com/privacy">Privacy</a>.
        <a class="link" href="http://tweepsbook.com/terms">Terms</a>.
      </p>
      <div class="icons">
        <a
          href="https://twitter.com/tweepsbookcom"
          target="_blank"
          class="icon-box"
          ><i class="icon fa fa-twitter" aria-hidden="true"></i
        ></a>
        <a
          href="https://linkedin.com/company/tweepsbookcom"
          target="_blank"
          class="icon-box"
          ><i class="icon fa fa-linkedin-square" aria-hidden="true"></i
        ></a>
        <a href="mailto:tweepsbook@gmail.com" class="icon-box">
          <i class="icon fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>
    </footer>
    <script src="/landingpage/scripts/script.js"></script>
  </body>
</html>
