<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META & Google Tags -->
    <%- include("partials/scriptandmeta") %>
    <!-- End META & Google Tags -->

    <!-- META Tags -->
    <meta
      property="og:image"
      content="https://i.postimg.cc/3Nk6ZXkn/Sign-In-Reverse.jpg"
    />
    <meta property="og:title" content="Sign In / TweepsBook" />
    <meta property="og:description" content="Sign in for TweepsBook." />
    <meta name="description" content="Sign in for TweepsBook." />
    <!-- End META Tags -->

    <!-- Link Tags -->
    <link
      rel="icon"
      type="image/ico"
      href="/landingpage/images/favicon/TweepsBook.ico"
    />
    <link rel="manifest" href="/landingpage/images/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/signin/styles/style.css" />
    <!-- End Link Tags -->

    <title>Sign In / TweepsBook</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <%- include("partials/noscript") %>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="nav-bar">
      <div class="container">
        <a class="title" href="/">
          <img src="/landingpage/images/TweepsBook.png" alt="Logo" />
          <h2>Tweeps<span>Book</span></h2>
        </a>
      </div>
    </nav>
    <main class="main-area">
      <div class="container">
        <div class="top">
          <div class="content">
            <p>
              <span>To Fellow Tweeple</span>, We are delighted to have you here.
              Hopefully, we will be able to meet your bookmarking needs.
            </p>
            <p>
              Now, before we proceed, we need some data like your email, name,
              profile id, etc. in order to store your data and provide you with
              services. Rest assured, we will not post anything on your behalf
              ever.
            </p>
          </div>
          <div class="image">
            <img src="/signin/images/tweets.svg" alt="image" />
          </div>
        </div>
        <div class="bottom">
          <a href="/dashboard/auth"
            ><i class="icon fa fa-twitter" aria-hidden="true"></i>Sign in with
            Twitter</a
          >
        </div>
      </div>
    </main>
    <footer class="footer-bar">
      <p class="notice">
        &copy; 2022, TweepsBook.
        <a class="link" href="/privacy">Privacy</a>.
        <a class="link" href="/terms">Terms</a>.
      </p>
      <div class="icons">
        <a
          href="https://twitter.com/tweepsbookcom"
          target="_blank"
          class="icon-box"
          ><i class="icon fa fa-twitter" aria-hidden="true"></i
        ></a>
        <a
          href="https://linkedin.com/company/tweepsbookcom"
          target="_blank"
          class="icon-box"
          ><i class="icon fa fa-linkedin-square" aria-hidden="true"></i
        ></a>
        <a href="mailto:tweepsbook@gmail.com" target="_blank" class="icon-box">
          <i class="icon fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>
    </footer>
  </body>
</html>
