<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META & Google Tags -->
        <%- include("partials/tags") %>
    <!-- End META & Google Tags -->

    <title>Sign In / TweepsBook</title>
</head>
<body>
    <h1>Sign In</h1>
</body>
</html>