<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META & Google Tags -->
      <%- include("partials/scriptandmeta") %>
    <!-- End META & Google Tags -->

    <!-- META Tags -->
      <meta property="og:image" content="https://i.postimg.cc/sDb09G9g/Terms-of-Service-Reverse.jpg" />
      <meta property="og:title" content="Terms of Service / TweepsBook" />
      <meta property="og:description" content="Terms and conditions for TweepsBook." />
      <meta name=description content="Terms and conditions for TweepsBook."/>
    <!-- End META Tags -->

    <!-- Link Tags -->
      <link
        rel="icon"
        type="image/ico"
        href="/landingpage/images/favicon/TweepsBook.ico"
      />
      <link rel="manifest" href="/landingpage/images/favicon/site.webmanifest" />
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap"
        rel="stylesheet"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous"
      />
      <link rel="stylesheet" href="/tos/styles/style.css" />
    <!-- End Link Tags -->

    <title>Terms of Service / TweepsBook</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
      <%- include("partials/noscript") %>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="nav-bar">
      <div class="container">
        <a class="title" href="/">
          <img src="/landingpage/images/TweepsBook.png" alt="Logo" />
          <h2>Tweeps<span>Book</span></h2>
        </a>
      </div>
    </nav>
    <main class="main-area">
      <div class="container">
        <h1>Website Terms and Conditions of Use</h1>
        <h2>Terms</h2>
        <p>
          By accessing this Website, accessible from www.tweepsbook.com, you are
          agreeing to be bound by these Website Terms and Conditions of Use and
          agree that you are responsible for the agreement with any applicable
          local laws. If you disagree with any of these terms, you are
          prohibited from accessing this site. The materials contained in this
          Website are protected by copyright and trade mark law.
        </p>
        <h2>Use License</h2>
        <p>
          Permission is granted to temporarily download one copy of the
          materials on TweepsBook's Website for personal, non-commercial
          transitory viewing only. This is the grant of a license, not a
          transfer of title, and under this license you may not:
        </p>
        <ul>
          <li>modify or copy the materials;</li>
          <li>
            use the materials for any commercial purpose or for any public
            display;
          </li>
          <li>
            attempt to reverse engineer any software contained on TweepsBook's
            Website;
          </li>
          <li>
            remove any copyright or other proprietary notations from the
            materials; or
          </li>
          <li>
            transferring the materials to another person or "mirror" the
            materials on any other server.
          </li>
        </ul>
        <p>
          This will let TweepsBook to terminate upon violations of any of these
          restrictions. Upon termination, your viewing right will also be
          terminated and you should destroy any downloaded materials in your
          possession whether it is printed or electronic format.
        </p>
        <h2>Disclaimer</h2>
        <p>
          All the materials on TweepsBook’s Website are provided "as is".
          TweepsBook makes no warranties, may it be expressed or implied,
          therefore negates all other warranties. Furthermore, TweepsBook does
          not make any representations concerning the accuracy or reliability of
          the use of the materials on its Website or otherwise relating to such
          materials or any sites linked to this Website.
        </p>
        <h2>Limitations</h2>
        <p>
          TweepsBook or its suppliers will not be hold accountable for any
          damages that will arise with the use or inability to use the materials
          on TweepsBook’s Website, even if TweepsBook or an authorize
          representative of this Website has been notified, orally or written,
          of the possibility of such damage. Some jurisdiction does not allow
          limitations on implied warranties or limitations of liability for
          incidental damages, these limitations may not apply to you.
        </p>
        <h2>Revisions and Errata</h2>
        <p>
          The materials appearing on TweepsBook’s Website may include technical,
          typographical, or photographic errors. TweepsBook will not promise
          that any of the materials in this Website are accurate, complete, or
          current. TweepsBook may change the materials contained on its Website
          at any time without notice. TweepsBook does not make any commitment to
          update the materials.
        </p>
        <h2>Links</h2>
        <p>
          TweepsBook has not reviewed all of the sites linked to its Website and
          is not responsible for the contents of any such linked site. The
          presence of any link does not imply endorsement by TweepsBook of the
          site. The use of any linked website is at the user’s own risk.
        </p>
        <h2>Site Terms of Use Modifications</h2>
        <p>
          TweepsBook may revise these Terms of Use for its Website at any time
          without prior notice. By using this Website, you are agreeing to be
          bound by the current version of these Terms and Conditions of Use.
        </p>
        <h2>Your Privacy</h2>
        <p>
          Please read our
          <a href="/privacy">Privacy Policy</a>.
        </p>
        <h2>Governing Law</h2>
        <p>
          Any claim related to TweepsBook's Website shall be governed by the
          laws of in without regards to its conflict of law provisions.
        </p>
      </div>
    </main>
    <footer class="footer-bar">
      <p class="notice">
        &copy; 2021, TweepsBook.
        <a class="link" href="/privacy">Privacy</a>.
        <a class="link" href="/terms">Terms</a>.
      </p>
      <div class="icons">
        <a
          href="https://twitter.com/tweepsbookcom"
          target="_blank"
          class="icon-box"
          ><i class="icon fa fa-twitter" aria-hidden="true"></i
        ></a>
        <a
          href="https://linkedin.com/company/tweepsbookcom"
          target="_blank"
          class="icon-box"
          ><i class="icon fa fa-linkedin-square" aria-hidden="true"></i
        ></a>
        <a href="mailto:tweepsbook@gmail.com" target="_blank" class="icon-box">
          <i class="icon fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>
    </footer>
  </body>
</html>
