:root {
  --lead-font: 'Open Sans', sans-serif;
  --regular-font: 'Roboto', sans-serif;
  --mono-font: 'Roboto Mono', monospace;
  --bg-color: #f4f9f9;
  --dark-blue: #5f7cf9;
  --light-blue: #8c9eff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--regular-font);
  background-color: var(--bg-color);
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.nav-bar {
  background-color: white;
  padding: 18px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.nav-bar .container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .container .title {
  text-decoration: none;
  color: black;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .container .title img {
  display: block;
  width: 18px;
  margin-right: 8px;
}

.nav-bar .container .title h2 {
  font-family: var(--lead-font);
  font-size: 24px;
  font-weight: 400;
}

.nav-bar .container .title h2 span {
  font-weight: 700;
}

.main-area {
  padding: 14px;
}

.main-area .container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.main-area .container .title {
  font-size: 64px;
  margin: 80px 20px 40px;
}

.main-area .container .title span {
  color: var(--dark-blue);
}

.main-area .container .info {
  line-height: 1.4;
  font-size: 20px;
  margin: 0 20px 32px;
  padding: 0 64px;
}

.main-area .container .info span {
  font-weight: 600;
}

.main-area .container .tag-line {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}

.main-area .container .btn {
  background-color: var(--dark-blue);
  color: white;
  font: inherit;
  font-size: 20px;
  padding: 18px 24px;
  margin: 32px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.main-area .container .arrow {
  display: block;
  font-size: 64px;
  margin-bottom: 14px;
  animation: down 1s ease-in-out infinite alternate;
}

.main-area .container .arrow.stop {
  animation: none;
}

@keyframes down {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(15%);
    opacity: 0;
  }
}

.section-area {
  padding: 14px;
}

.section-area .container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.section-area .container .top {
  padding: 14px;
}

.section-area .container .top .title {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  margin: 28px 0;
}

.section-area .container .top .content {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.section-area .container .top .content .info {
  padding: 14px;
  width: 100%;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  display: flex;
  align-items: center;
}

.section-area .container .top .content img {
  display: block;
  padding: 14px;
  max-width: 400px;
  width: 100%;
}

.section-area .container .bottom {
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 14px;
}

.section-area .container .bottom .title {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  margin: 28px 0;
}

.section-area .container .bottom .tutorial {
  margin: 24px 0 48px;
}

.section-area .container .bottom .tutorial .content {
  background-color: white;
  width: 100%;
  font-size: 18px;
  padding: 32px;
  margin: 14px auto;
  list-style-type: none;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.section-area .container .bottom .tutorial .content li {
  line-height: 1.6;
  border-left: 2px black solid;
  padding: 0 0 0 24px;
  position: relative;
}

.section-area .container .bottom .tutorial .content li a {
  color: black;
  text-decoration: none;
  border-bottom: 2px black dotted;
}

.section-area .container .bottom .tutorial .content li code {
  display: block;
  background-color: #353941;
  color: var(--light-blue);
  margin: 14px 0;
  padding: 14px;
  border-radius: 12px;
  font-family: var(--mono-font);
  font-size: 16px;
  font-weight: 600;
}

.section-area .container .bottom .tutorial .content li:first-child::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: -9px;
  border-radius: 50%;
  background-color: black;
}

.section-area .container .bottom .tutorial .content li:last-child {
  border-left: none;
  margin-top: -8px;
}

.section-area .container .bottom .tutorial .content li:last-child::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: -7px;
  border-radius: 50%;
  background-color: black;
}

.section-area .container .bottom .tutorial .content li:nth-child(2)::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 16%;
  left: -9px;
  border-radius: 50%;
  background-color: black;
}

.section-area .container .bottom .tutorial .content li:nth-child(2) {
  padding: 24px 0 24px 24px;
}

.section-area .container .bottom .info {
  margin: 24px 0;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.section-area .container .bottom img {
  border-radius: 12px;
  display: block;
  width: 100%;
  margin: 28px auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.footer-bar {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  padding: 18px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-bar .notice {
  font-size: 14px;
}

.footer-bar .notice .link {
  text-decoration: none;
  color: inherit;
}

.footer-bar .icons .icon-box {
  color: inherit;
  margin: 0 8px;
  text-decoration: none;
}

.footer-bar .icons .icon-box .icon {
  display: inline-block;
  font-size: 20px;
}

@media (hover: hover) {
  .main-area .container .btn {
    transition: background 0.2s ease;
  }

  .main-area .container .btn:hover {
    background-color: var(--light-blue);
  }

  .footer-bar .notice .link:hover {
    text-decoration: underline 1px white solid;
  }

  .footer-bar .icon-box {
    transition: opacity 0.2s ease;
  }

  .footer-bar .icon-box:hover {
    opacity: 0.65;
  }
}

@media (hover: none) {
  .main-area .container .btn:active {
    filter: brightness(85%);
  }

  .footer-bar .notice .link:active {
    text-decoration: underline 1px white solid;
  }

  .icons .icon-box .icon:active {
    opacity: 0.65;
  }
}

@media (max-width: 768px) {
  .section-area .container .top .content {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .main-area .container .title {
    font-size: 54px;
    margin: 40px 0 20px;
  }

  .main-area .container .info {
    margin: 0 0 14px;
    padding: 14px;
  }

  .main-area .container .info,
  .main-area .container .tag-line,
  .main-area .container .btn {
    font-size: 18px;
  }

  .section-area .container .top .title,
  .section-area .container .bottom .title {
    font-size: 36px;
  }

  .section-area .container .bottom .tutorial .content {
    font-size: 16px;
  }

  .section-area .container .top .content .info {
    padding: 14px 0;
  }

  .section-area .container .bottom .tutorial .content {
    padding: 24px;
  }

  .section-area .container .bottom .tutorial .content li code {
    padding: 10px;
    font-size: 12px;
  }

  .footer-bar {
    flex-direction: column-reverse;
  }

  .footer-bar .icons {
    margin-bottom: 14px;
  }
}
