:root {
  --lead-font: 'Open Sans', sans-serif;
  --regular-font: 'Roboto', sans-serif;
  --mono-font: 'Roboto Mono', monospace;
  --bg-color: #fafafd;
  --dark-blue: #5f7cf9;
  --light-blue: #8c9eff;
  --light-gray: #b4b4b4;
  --border-color: #e4e4e4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--regular-font);
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.nav-bar {
  background-color: white;
  padding: 14px 18px;
  border-bottom: 1px var(--border-color) solid;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .bars-box {
  display: none;
}

.nav-bar .bars-box .bars {
  font-size: 24px;
  cursor: pointer;
}

.nav-bar .title {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .title img {
  display: block;
  width: 14px;
  margin-right: 8px;
}

.nav-bar .title h2 {
  font-family: var(--lead-font);
  font-size: 18px;
  font-weight: 400;
}

.nav-bar .title h2 span {
  font-weight: 700;
}

.nav-bar .user {
  position: relative;
}

.nav-bar .user .user-info {
  display: flex;
  align-items: stretch;
  cursor: pointer;
}

.nav-bar .user .user-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px 0;
  z-index: 100;
  width: 120px;
  display: flex;
  flex-direction: column;
  display: none;
}

.nav-bar .user .user-menu.visible {
  display: flex;
}

.nav-bar .user .user-menu a {
  text-decoration: none;
  color: black;
  padding: 8px 28px 8px 14px;
  user-select: none;
}

.nav-bar .user .user-menu a:first-child .icon {
  margin-right: 8px;
}

.nav-bar .user .user-menu a .icon {
  margin-right: 4px;
}

.nav-bar .user .user-info img {
  border: 1px #d4d4d4 solid;
  border-radius: 50%;
  width: 32px;
}

.nav-bar .user .user-info .name {
  padding: 0 8px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.nav-bar .user .user-info .arrow {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.main-area {
  display: flex;
}

.main-area .aside-bar {
  border-right: 1px var(--border-color) solid;
  background-color: white;
  width: 180px;
  flex-grow: 0;
  flex-shrink: 0;
}

.main-area .aside-bar .cross-box {
  padding: 14px 18px;
  display: flex;
  justify-content: flex-end;
  display: none;
}

.main-area .aside-bar .cross-box .cross {
  font-size: 24px;
  cursor: pointer;
}

.main-area .aside-bar .title {
  margin: 24px 12px;
  font-size: 28px;
  font-weight: 400;
}

.main-area .aside-bar .tags {
  margin: 24px 0;
  list-style-type: none;
}

.main-area .aside-bar .tags .tag {
  border-left: 4px transparent solid;
  padding: 8px;
  margin: 14px 0;
  cursor: pointer;
}

.main-area .aside-bar .tags .tag.special {
  border-top: 1px var(--border-color) solid;
}

.main-area .aside-bar .tags .tag.selected {
  border-left-color: var(--dark-blue);
  color: var(--dark-blue);
  font-weight: 500;
}

.main-area .section-area {
  background-color: var(--bg-color);
  width: 100%;
  position: relative;
}

.main-area .section-area .empty-board {
  position: absolute;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 24px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.main-area .section-area .empty-board.visible {
  display: flex;
}

.main-area .section-area .empty-board .info {
  margin-bottom: 48px;
  font-size: 18px;
}

.main-area .section-area .empty-board .items {
  /* border: 1px red solid; */
  max-width: 600px;
  width: 100%;
  list-style-type: none;
}

.main-area .section-area .empty-board .items .item {
  border-radius: 4px;
  background-color: white;
  width: 100%;
  padding: 24px 14px 14px;
  margin-bottom: 32px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.main-area .section-area .empty-board .items .item:first-child::after {
  /* border: 1px red solid; */
  content: '1';
  width: 32px;
  height: 32px;
  background-color: var(--dark-blue);
  position: absolute;
  top: -18px;
  left: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main-area .section-area .empty-board .items .item:nth-child(2)::after {
  /* border: 1px red solid; */
  content: '2';
  width: 32px;
  height: 32px;
  background-color: var(--dark-blue);
  position: absolute;
  top: -18px;
  left: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main-area .section-area .empty-board .items .item:last-child::after {
  /* border: 1px red solid; */
  content: '3';
  width: 32px;
  height: 32px;
  background-color: var(--dark-blue);
  position: absolute;
  top: -18px;
  left: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main-area .section-area .empty-board .items .item a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 500;
}

.main-area .section-area .empty-board .items .item code {
  display: block;
  font-family: var(--mono-font);
  font-size: 14px;
  font-weight: 600;
  padding: 8px 14px;
  margin-top: 8px;
  background-color: #e4e6ed;
  color: var(--dark-blue);
  border-radius: 4px;
}

.main-area .section-area .board {
  width: 100%;
  min-height: calc(100vh - 60px);
}

.main-area .section-area .board .title {
  margin: 14px;
  font-size: 16px;
  font-weight: 400;
  width: fit-content;
  background-color: var(--dark-blue);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
}

.main-area .section-area .board .bookmarks {
  padding: 0 14px 14px 14px;
  width: 100%;
}

.grid-item {
  width: 340px;
  height: fit-content;
}

.main-area .section-area .load-board {
  position: absolute;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.main-area .section-area .load-board.visible {
  display: block;
}

.main-area .section-area .load-board .loader {
  width: 48px;
  height: 48px;
  border: 4px var(--light-gray) solid;
  border-bottom-color: var(--dark-blue);
  border-radius: 50%;
  margin: 45vh auto 0;
  animation: load 0.8s linear forwards infinite;
}

@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.backdrop.fade-in {
  animation: fade-in 400ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.backdrop.fade-out {
  animation: fade-out 400ms ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.backdrop.visible {
  display: block;
}

.footer-bar {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  padding: 14px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-bar .notice {
  font-size: 14px;
}

.footer-bar .notice .link {
  text-decoration: none;
  color: inherit;
}

.footer-bar .icons .icon-box {
  color: inherit;
  margin: 0 8px;
  text-decoration: none;
}

.footer-bar .icons .icon-box .icon {
  display: inline-block;
  font-size: 20px;
}

@media (hover: hover) {
  .nav-bar .user .user-menu a:hover {
    background-color: #efefef;
  }

  .main-area .section-area .empty-board .items .item a:hover {
    border-bottom: 2px var(--dark-blue) dotted;
  }

  .footer-bar .icon-box {
    transition: opacity 0.2s ease;
  }

  .footer-bar .notice .link:hover {
    text-decoration: underline 1px white solid;
  }

  .footer-bar .icon-box:hover {
    opacity: 0.65;
  }
}

@media (hover: none) {
  .main-area .section-area .empty-board .items .item a:active {
    border-bottom: 2px var(--dark-blue) dotted;
  }

  .footer-bar .notice .link:active {
    text-decoration: underline 1px white solid;
  }

  .icons .icon-box .icon:active {
    opacity: 0.65;
  }
}

@media (max-width: 600px) {
  .nav-bar .bars-box {
    display: block;
  }

  .nav-bar .title h2,
  .nav-bar .user .user-info .name,
  .nav-bar .user .user-info .arrow {
    display: none;
  }

  .main-area .aside-bar {
    text-align: center;
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 400ms ease-in-out;
  }

  .main-area .aside-bar .title {
    font-size: 28px;
    margin-top: 0;
  }

  .main-area .aside-bar .tags .tag {
    width: fit-content;
    padding: 8px 14px;
    margin: 14px auto;
  }

  .main-area .aside-bar .tags .tag.special {
    border-top: 1px var(--light-gray) solid;
    padding: 18px 48px;
  }

  .main-area .aside-bar .tags .tag.selected:not(.special) {
    border-left-color: transparent;
    color: var(--dark-blue);
    font-weight: 400;
  }

  .main-area .aside-bar.slide {
    transform: translateX(0);
  }

  .main-area .aside-bar .cross-box {
    display: flex;
  }

  .bookmarks {
    display: flex;
    flex-direction: column;
  }

  .grid-item {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .footer-bar {
    flex-direction: column-reverse;
  }

  .footer-bar .icons {
    margin-bottom: 14px;
  }
}
