@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Merriweather&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-tap-highlight-color: transparent;
}
.font-header {
	font-family: 'Merriweather', sans-serif;
}
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #004965;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #708790;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #004965;
}
.my-content {
	padding-left: 224px;
}
.icon-grey {
	color: rgb(95, 95, 95);
}
.icon-light-grey {
	color: #afafaf;
}
.tweet a {
	text-decoration: inherit;
	font-weight: inherit;
}
.my-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	margin-left: -30px; /* gutter size offset */
	width: auto;
}
.my-masonry-grid_column {
	padding-left: 10px; /* gutter size */
	background-clip: padding-box;
}
