@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Merriweather&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}
.font-header{
	font-family: 'Merriweather', sans-serif;
}
::-webkit-scrollbar {
	width: 8px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
.sidebar {
	height: calc(100vh - 96px);
}
.my-content {
	padding-left: 224px;
}
.icon-grey {
	color: rgb(95, 95, 95);
}
.icon-light-grey {
	color: #afafaf;
}
